<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <title>{% block title %} - AerialShip SteelMQ{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            'components/bootstrap/css/bootstrap.min.css'
            'vendor/fortawesome_font-awesome/css/font-awesome.min.css'
            'bundles/aerialshipsteelmq/css/style.css'
            filter="cssrewrite"
            %}
            <link href="{{ asset_url }}" rel="stylesheet">
            {% endstylesheets %}
            <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
            {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
                'components/jquery/jquery.min.js'
                'components/bootstrap/js/bootstrap.min.js'
                '@BraincraftedBootstrapBundle/Resources/js/bc-bootstrap-collection.js'
                'vendor/malsup_blockui/jquery.blockUI.js'
                'vendor/malsup_form/jquery.form.js'
                'vendor/aerialship_as-js/src/core.js'
                'vendor/aerialship_as-js/src/method/*'
                'vendor/aerialship_as-js/src/execute_bind.js'
                '@AerialShipSteelMqBundle/Resources/public/js/common.js'
                output="js/compiled/base.js"
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
