{% extends '@AerialShipSteelMq/modal.html.twig' %}

{% block title %}New Message{% endblock title %}

{% block body %}

    <div class="mt-10">
        {{ include('@AerialShipSteelMq/queue/partial/message_create_form.html.twig') }}
    </div>
{% endblock %}

{% block footer %}{% endblock %}
