<form role="form" action="{{ path('delete_message_form', {projectId: message.queue.project.id, queueId: message.queue.id, messageId: message.id}) }}"
    method="post"
    name="confirm"
    {{ form_enctype(form) }}
>
    <div class="form-group">
        {{ form_widget(form.confirm) }}

        <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
    </div>
    {{ form_rest(form) }}
</form>
